html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    margin: 0;
    /* margin-top: 1%; */
    /* background: linear-gradient(0deg, #0F5952, white 90%);  */
    background-color: #020321;
    font-family: aleo;
    background: radial-gradient(circle 100vh at center 100%, #4d136a,  #020321 90%);
    /* background: linear-gradient(20deg, rgb(77, 19, 106),  rgb(2, 3, 33) 90%); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 215vh;
    user-select: none;
    
}

h1 {
    font-size: 24pt;
    font-weight: normal;
    font-kerning: normal;
    margin: 0;
}

h2 {
    font-size: 16pt;
    font-weight: 200;
    font-style: italic;
    margin: 0;
   
}

h3 {
    font-size: 12pt;
    font-weight: 300;
    margin: 0;
    font-kerning: normal;
}

h4 {
    font-size: 8pt;
    font-weight: 200;
    
}


p {
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: .1rem;
    margin: 0;
    text-align:left;
}

a {
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: .1rem;
    margin: 0;
    color: white;
    
}

a:visited {
    color: white;
}



.spaceWindow {
    margin: 0;
    width: inherit;
    transform: scale(0.8) ;
    padding: 0;
    
}


#main {
    /* left: 10%; */
    top: 15%;
    display: flex;
    flex-direction: row;
    width: 80%;
    left: 10%;
    justify-content: space-around;
    height: max-content;
    position: absolute;
}

#mainGlass {
    width: 25vw;
    /* left: 50%; */
    /* transform: translate(-50%); */
    /* top: 20%; */
    /* position: absolute; */
    text-align: center;
    /* position: relative; */
    
}

.glass {
    color: #e66eb2;
    height: fit-content;
    font-family: aleo;
    background-color: rgb(255, 255, 255, 0.06);
    
    box-shadow: 0 0 20px 5px rgba(0,0,0, 0.1);
    border-radius: 20px;
    
    backdrop-filter: blur(10px);
    z-index: 3;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5%;
    padding-bottom: 5%;
    
}



.sideGlass {
    
    padding: 8%;
    color: white;
    margin: 5%;
}

.sideContainer {
    /* position: absolute; */
    /* top: 20%; */
    /* left: 10%; */
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: fit-content;
    /* position: absolute; */
    z-index: 5;
    justify-content: space-between;
    /* background-color: white; */
}


/* #leftGlassOne {
    left: 10%;
    top: 20%;
}

#leftGlassTwo {
    left: 10%;
    top: 70%;
} */

/* #rightGlassOne {
    
    right: 10%;
    top: 20%;
}

#rightGlassTwo {
    
    right: 10%;
    top: 50%;
} */







span:hover .moreinfo{
    visibility: visible;
}

@keyframes float {
    0% {
        top: 20%
    }
    60% {
        top: 26%
    }
    100% {
        top: 20%
    }
}



button {
    margin: 0;
    padding: 2%;
    /* visibility: hidden; */
    width: 20%;
    background-color: #e66eb2;
    /* background: linear-gradient(red, blue); */
    /* background-color: transparent; */
    border: none;
    border-radius: 10px;
    font-family: aleo;
    font-size: 16pt;
    font-weight: 400;
    font-kerning: normal;
    color: #1B0A40;

}





.container {
    /* width: 100vw; */
    height: 100vh;
    width: 150vw;
    margin: 0;
    z-index: -2;
    /* background: linear-gradient(-10deg, darkslategrey, teal 40%,  white); */
    background: radial-gradient(circle 100vh at center 100%, #4d136a,  #020321 90%);
    /* background: linear-gradient(20deg, rgb(77, 19, 106),  rgb(2, 3, 33) 90%); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* overflow-x: scroll; */
}

.mountain {
    --mysize: 3rem;
    width: var(--mysize);
    height: var(--mysize);
    /* border: 3px solid red; */
    position: absolute;
    bottom: 10%;
    /* left: 40%; */
    background: linear-gradient(135deg , rgb(77, 19, 106),  rgb(2, 3, 33) 25%);
    /* background: linear-gradient(135deg, darkslategrey, teal 40%,  white); */
    z-index: 1;
    transform-origin: left;
    box-shadow: -10px -10px 10px -5px rgba(255,255,255,0.2);
}




/* @keyframes light {
    from {box-shadow: none;}
    to {box-shadow: 0 0 20px 5px rgba(255,255,255,0.2);}
}

@keyframes dark {
    from {box-shadow: 0 0 20px 5px rgba(255,255,255,0.2);} 
    to {box-shadow: none;}
}*/


/* .mountain:hover {
    animation-name: light;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
} */




#div0 {
    left: 40%;
    transform: rotate(45deg) scale(10);
}

#div1 {
    left: 20%;
    transform: rotate(45deg) scale(8);
    bottom: 8%;
}

#div2 {
    left: 30%;
    transform: rotate(45deg) scale(6);
    bottom: 5%;
}

#div3 {
    left: -5%;
    transform: rotate(45deg) scale(11);
}

#div4 {
    right: 5%;
    transform: rotate(45deg) scale(7);
}

#div5 {
    right: 20%;
    transform: rotate(45deg) scale(12);
}

#div6 {
    right: 35%;
    transform: rotate(45deg) scale(7);
    bottom: 5%;
}

#div7 {
    right: 10%;
    transform: rotate(45deg) scale(3);
    bottom: 5%;
}






.star {

    text-align: center;
    color: white;
    font-size: 12pt;
    font-family: aleo;
    position: absolute;
    
    animation-name: blink;
    animation-duration: 4s;
    /* animation-timing-function:cubic-bezier(0.95, 0.05, 0.795, 0.035); */
    animation-timing-function:cubic-bezier(0.68, -0.55, 0.265, 1.55);
    /* animation-iteration-count: infinite; */
    z-index: 0;
    
}


.mousestar {

    text-align: center;
    color: white;
    color:#e66eb2;
    font-size: 24pt;
    font-family: aleo;
    position: absolute;
    user-select: none;
    animation-name: starTray;
    animation-duration: 1.6s;
    /* animation-timing-function:cubic-bezier(0.95, 0.05, 0.795, 0.035); */
    animation-timing-function: cubic-bezier(.72,.45,.22,.69);
    animation-fill-mode: forwards;
    z-index: 1;
    
}

@keyframes starTray {
    0% {
        opacity: 0.6;
        font-size: 32pt;
        
    }
    50% {
        font-size: 10pt;
        opacity: 0;
        /* color:#e66eb2; */
        /* color:#1B0A40; */
        
        
    }

    100% {
        opacity: 0;
        transform: rotate(360deg);
        /* top: 100%; */
    }
    
}





#star0 {
       left: 20%;
       top: 10%;
}

#star1 {
    left: 30%;
    top: 40%;
    animation-delay: 3500ms;
}
#star2 {
    left: 80%;
    top: 20%;
    animation-delay: 2354ms;
}

#star3 {
 left: 60%;
 top: 60%;
 animation-delay: 1300ms;
}

#star4 {
    left: 10%;
    top: 60%;
    animation-delay: 2100ms;
}

#star5 {
    left: 90%;
    top: 50%;
    animation-delay: 1111ms;
}


/*
@keyframes fallingStar {
    0%, 40%{
       
        opacity: 1;
    }
    
    80%, 100% {
        left: 100%;
        top: 100%;
        opacity: 0;
    }
} */

@keyframes blink {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(3) rotate(180deg);
       
    }

    100% {
        opacity: 0;
        transform: scale(1) rotate(360deg);
    }
}





.modeButton {
    position: fixed;
    left: 0%;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    color: white;
    background-color: #e66eb2;
    font-family: aleo;
    text-align: center;
    z-index: 5;
    box-shadow: 0 0 20px 1px #1B0A40;
}


.modeBar {
    position: fixed;
    width: 4vw;
    height: 2vw;
    border-radius: 2vw;
    color: white;
    background-color: rgb(230, 110, 178, 0.3);
    backdrop-filter: blur(20px);
    font-family: aleo;
    text-align: center;
    z-index: 5;
    
}



#sandy {
    /* background-color: inherit; */
    background: linear-gradient(#e66465, #9198e565);
    width: 100vw;
    height: 115vh;
    position: absolute;
    top: 100%;
    z-index:0;

}

.header-btn {
    text-align: center;
    column-span: all;
    width: 100%;
    margin-top: -2rem;
}


#content {
    /* color: #e66465; */
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transform: translateY(-50%); */
    z-index: 3;
    width: 60vw;
    height: 65%;
    position: absolute;
    top: 165%;
    /* transform: translateY(-50%); */
    padding: 4rem;
    box-shadow: 0 0 50px 5px rgba(255,255,255,0.5);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}


.notebook {
    width: 35%;
    height: 70%;
    /* background-color: #02032165; */
    

    box-shadow: inset 0 0 15px 3px rgba(0, 0, 0, 0.4);
    padding: 5%;
    border-radius: 10%;
    overflow: scroll;
    scrollbar-width: none;
}

.project-board {
    display: flex;
    width: 45%;
    height: 85%;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 1rem;
    flex-direction: row;
    /* row-gap: 0px; */
    /* background-color: white; */
}

.middle-btn {
    text-align: center;
    column-span: all;
    width: 100%;
    height: min-content;
    margin-top: 2rem;
    padding: 0;
    font-weight: 300;
    letter-spacing: .1rem;
    font-size: 1.5rem;
}

.project-circle {
    /* background-color: rgba(255,255,255,0.3); */
    box-shadow: inset 0 0 15px 3px rgba(0, 0, 0, 0.4);
    width: 45%;
    height: 0;
    padding-top: 45%;
    /* aspect-ratio: 1; */
    position: relative;
    border-radius: 50%;
    /* padding: 4rem; */
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
}

.project-circle-active {
    box-shadow: 0 0 15px 3px rgba(255, 255, 255, 0.4);
}



.info-span {
    /* width: 100%; */
    /* position: absolute; */
    /* left: 0; */
    /* top: 0; */
    /* margin-top: auto; */
    /* margin-top: 1rem; */
    width: 90%;
    text-align: center;
    position: absolute;
    top: 50%;
    /* left: 50%; */
    transform: translate(-50%, -50%);
    /* transform: translateY(-50%); */
    /* line-height: 150%; */
    animation-name: text-slide;
    animation-duration: 1s;
    animation-timing-function:cubic-bezier(0.215, 0.610, 0.355, 1);
    /* animation-timing-function: ease-in-out; */
    animation-fill-mode: forwards;
    padding: 5%;
    /* background-color: black; */
}

@keyframes text-slide {
    0% {
        left: 50%;
    }

    25% {
        left: 150%;
    }
    
    30% {
        opacity: 0;
    }

    50% {
        /* opacity:; */
        left: -100%;
    }
    

    100% {
        left: 50%;
        opacity: 1;
    }
}


.dot {
    width: 3rem;
    height: 3rem;
    /* background-color:#d999bd; */
    background-color: #9198e5;
    z-index: 4;
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 50%;

}

#dot1 {
    background-color: white;
    top: 15%;
    left: 50%
}

#dot2 {
    
    left:100%;
    top:50%
}


#dot3 {
    
    left: 0;
    top: 50%;
}


#dot4 {
    left: 50%;
    top: 100%;
}




#setter {
    transform: rotate(0deg);
}



.br-high {
    line-height: 200%;
}


.overlay-canvas {
    /* width: inherit; */
    /* height: 4rem; */
    /* padding: inherit; */
    /* top: 5rem; */
    /* transform: translateY(-100%); */
    left: -10rem;
    top: 3rem;
    width: 12rem;
    height: 12rem;
    /* padding: 5%; */
    border-radius: 0;
    position: absolute;
    /* top: 8rem; */
    /* left: 8rem; */
    z-index: 6;
    /* border: 3px solid red; */
    background-color: rgba(0,0,0, 0);
    /* opacity: 0; */
}






@keyframes spawn {
    0% {
        transform: scale(0) ;
        top: 100%;
        z-index: 1;
        
    }

    100% {
        transform: scale(1);
        /* z-index: 3; */
    }
}

a:hover {
    color: #e66eb2;
}

a {
    text-decoration: none;
}

canvas {
    z-index: 3;
    position: relative;
}

#signature {
    z-index: 5;
    /* background-color: black; */
    color: white;
    width: fit-content;
    height: min-content;
    position: absolute;
    right: 0;
    bottom: -120%;
    font-style: italic;
    font-weight: 200;
    font-size: 0.8em;
    margin-bottom: 3%;
    margin-right: 1%;
   
}