html {
    scroll-behavior: smooth;
    font-size: 24pt;
    overflow-x: hidden;

}

body {
    overflow-x: hidden;
    margin: 0;
    /* background: linear-gradient(0deg, #0F5952, white 90%);  */
    background-color: #020321;
    font-family: aleo;
    /* font-size: 48px; */
    width: 100vw;
    height: 100vh;
    
}

#wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
    /* margin: inherit; */
    /* background-color: inherit; */
    font: inherit;
    /* width: inherit; */
    z-index: -1;
}

h1 {
    font-size: 1.66rem;
    font-weight: normal;
    font-kerning: normal;
    margin: 0;
}

h2 {
    font-size: 1.33rem;
    font-weight: 200;
    font-style: italic;
    margin: 0;
   
}

h3 {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    font-kerning: normal;
}

h4 {
    font-size: 0.33rem;
    font-weight: 200;
    
}


p {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .1rem;
    margin: 0;
    text-align:left;
}

a {
    /* font-size: 12pt; */
    font-weight: 300;
    letter-spacing: .1rem;
    margin: 0;
    color: white;
    
}

a:visited {
    color: white;
}



.spaceWindow {
    margin: 0;
    width: inherit;
    transform: scale(0.8) ;
    padding: 0;
    
}


#main {
    /* left: 10%; */
    top: 25%;
    display: flex;
    flex-direction: row;
    width: 90%;
    left: 5%;
    justify-content: space-around;
    height: max-content;
    position: relative;
}

#mainGlass {
    width: 80%;
    height: 20%;
    left: 50%;
    transform: translate(-50%);
    /* top: 10%; */
    margin-top: 10%;
    /* position: absolute; */
    text-align: center;
    position: relative;
    
}

.glass {
    color: #e66eb2;
    height: fit-content;
    /* width: fit-content; */
    font-family: aleo;
    /* border: 3px solid red; */
    background-color: rgb(255, 255, 255, 0.1);
    /* background: linear-gradient(180deg, rgb(255, 255, 255, 0.05), rgb(0, 0, 0, 0.05)); */
    
    /* box-shadow: 0 0 20px rgba(255,255,255, 0.1); */
    border-radius: 2rem;
    
    backdrop-filter: blur(10px);
    z-index: 3;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5%;
    padding-bottom: 5%;
    /* animation-name: float;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(.4,.18,.73,1.03);
    animation-iteration-count: infinite; */
    
}



.sideGlass {
    /* width: 15vw; */
    height: fit-content;
    /* position: absolute; */
    
    /* background-color: rgba(37, 104, 98, 0.3); */
    background-color: rgba(255,255,255,0.1);
    padding: 8%;
    color: white;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    
    /* animation-name: spawn;
    animation-fill-mode: forwards;
    animation-iteration-count: 1; */
    z-index: 2;
    margin: 5%;
}

.sideContainer {
    /* position: absolute; */
    /* top: 20%; */
    /* left: 10%; */
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: fit-content;
    /* position: absolute; */
    z-index: 5;
    justify-content: space-between;
    /* background-color: white; */
}


/* #leftGlassOne {
    left: 10%;
    top: 20%;
}

#leftGlassTwo {
    left: 10%;
    top: 70%;
} */

/* #rightGlassOne {
    
    right: 10%;
    top: 20%;
}

#rightGlassTwo {
    
    right: 10%;
    top: 50%;
} */







span:hover .moreinfo{
    visibility: visible;
}

@keyframes float {
    0% {
        top: 20%
    }
    60% {
        top: 26%
    }
    100% {
        top: 20%
    }
}



button {
    margin: 0;
    padding: 2%;
    /* visibility: hidden; */
    width: 20%;
    background-color: #e66eb2;
    /* background: linear-gradient(red, blue); */
    /* background-color: transparent; */
    border: none;
    border-radius: 10px;
    font-family: aleo;
    font-size: 16pt;
    font-weight: 400;
    font-kerning: normal;
    color: #1B0A40;

}





.container {
    /* width: 100vw; */
    height: 100vh;
    width: 120%;
    margin: 0;
    z-index: -2;
    overflow-x: hidden;
    overflow-y: hidden;
    /* background: linear-gradient(-10deg, darkslategrey, teal 40%,  white); */
    background: radial-gradient(circle 100vh at center 100%, #4d136a,  #020321 90%);
    /* background: linear-gradient(20deg, rgb(77, 19, 106),  rgb(2, 3, 33) 90%); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    bottom: -20%;
    left: -20%;
    /* overflow-x: scroll; */
}

#sandy {
    background-color: #020321;
    /* background-color: white; */
    width: 100%;
    height: 20%;
    position: absolute;
    top: 105%;
    z-index: 3;

}

.mountain {
    --mysize: 4%;
    width: var(--mysize);
    height: var(--mysize);
    /* border: 3px solid red; */
    position: absolute;
    bottom: 10%;
    /* left: 40%; */
    background: linear-gradient(135deg , rgb(77, 19, 106),  rgb(2, 3, 33) 25%);
    /* background: linear-gradient(135deg, darkslategrey, teal 40%,  white); */
    z-index: 2;
    transform-origin: left;
    box-shadow: 0 0 10px 3px rgba(255,255,255,0.2);
}




/* @keyframes light {
    from {box-shadow: none;}
    to {box-shadow: 0 0 20px 5px rgba(255,255,255,0.2);}
}

@keyframes dark {
    from {box-shadow: 0 0 20px 5px rgba(255,255,255,0.2);} 
    to {box-shadow: none;}
}*/


.mountain:hover {
    animation-name: light;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}




#div0 {
    left: 40%;
    transform: rotate(45deg) scale(10);
}

#div1 {
    left: 20%;
    transform: rotate(45deg) scale(8);
}


#div3 {
    left: -5%;
    transform: rotate(45deg) scale(11);
}


#div5 {
    right: 30%;
    transform: rotate(45deg) scale(12);
}

#div6 {
    right: 35%;
    transform: rotate(45deg) scale(7);
    bottom: 10%;
}







.star {

    text-align: center;
    color: white;
    font-size: 1rem;
    font-family: aleo;
    position: absolute;
    
    animation-name: blink;
    animation-duration: 4s;
    /* animation-timing-function:cubic-bezier(0.95, 0.05, 0.795, 0.035); */
    animation-timing-function:cubic-bezier(0.68, -0.55, 0.265, 1.55);
    /* animation-iteration-count: infinite; */
    z-index: 0;
    
}


.mousestar {

    text-align: center;
    color: white;
    color:#e66eb2;
    font-size: 2rem;
    font-family: aleo;
    position: absolute;
    user-select: none;
    animation-name: starTray;
    animation-duration: 1.6s;
    /* animation-timing-function:cubic-bezier(0.95, 0.05, 0.795, 0.035); */
    animation-timing-function: cubic-bezier(.72,.45,.22,.69);
    animation-fill-mode: forwards;
    z-index: 0;
    
}

@keyframes starTray {
    0% {
        opacity: 0.6;
        font-size: 32pt;
        
    }
    50% {
        font-size: 10pt;
        opacity: 0;
        /* color:#e66eb2; */
        /* color:#1B0A40; */
        
        
    }

    100% {
        opacity: 0;
        transform: rotate(360deg);
        /* top: 100%; */
    }
    
}









/*
@keyframes fallingStar {
    0%, 40%{
       
        opacity: 1;
    }
    
    80%, 100% {
        left: 100%;
        top: 100%;
        opacity: 0;
    }
} */

@keyframes blink {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(3) rotate(180deg);
       
    }

    100% {
        opacity: 0;
        transform: scale(1) rotate(360deg);
    }
}





.modeButton {
    position: absolute;
    left: 0%;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    color: white;
    background-color: #e66eb2;
    font-family: aleo;
    text-align: center;
    z-index: 1;
    box-shadow: 0 0 20px 1px #1B0A40;
}


.modeBar {
    position: fixed;
    width: 4vw;
    height: 2vw;
    border-radius: 2vw;
    color: white;
    background-color: rgb(230, 110, 178, 0.3);
    backdrop-filter: blur(20px);
    font-family: aleo;
    text-align: center;
    
}






@keyframes spawn {
    0% {
        transform: scale(0) ;
        top: 100%;
        z-index: 1;
        
    }

    100% {
        transform: scale(1);
        /* z-index: 3; */
    }
}

a:hover {
    color: #e66eb2;
}

a {
    text-decoration: none;
}

canvas {
    z-index: 3;
    position: relative;
}